<div class="wrapper">
    <div class="page-header clear-filter" filter-color="orange">
        <div class="page-header-image rellax-header" data-rellax-speed="-7" style="background-image: url('assets/img/header.jpg');">

        </div>
        <div class="container">
            <div class="content-center brand">
                <br><br>
                <br><br>
                <br><br>
                <br><br>
                <br><br>
                <br><br>
                <br><br>
                <h1 class="h1-seo"><img src="assets/img/smilesLogo.png" style="max-width: 150px; margin-top: 5px;"> Bank</h1>
                <h4><i class="now-ui-icons emoticons_satisfied"></i> Seja bem vinda, Gabi!</h4>
                <br>
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="social-description">
                            <h3>254.554</h3>
                            <p>Milhas</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="social-description">
                            <h3>R$ 255</h3>
                            <p>Reais</p>
                        </div>
                    </div>
                </div>
                <br><br>
                <div class="row">
                    <div class="col-md-6">
                        <div class="social-description">
                            <button class="btn btn-primary btn-round btn-lg" type="button">
                                <i class="now-ui-icons business_bank"></i> Resgatar Milhas
                            </button>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="social-description">
                            <button class="btn btn-primary btn-round btn-lg" type="button">
                                <i class="now-ui-icons shopping_credit-card"></i> Meus Cartões
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="main">

        <div class="container">
            <br>
            <h4>Funcionalidades</h4>
            <br>
            <div class="row">
                <div class="col-md-4 col-sm-6 text-center">
                    <button class="btn btn-primary btn-icon btn-round btn-lg" type="button" popoverTitle="Deposito">
                        <i class="now-ui-icons business_briefcase-24"></i>
                    </button>
                    <p class="category">Deposito</p>
                </div>
                <div class="col-md-4 col-sm-6 text-center">
                    <button class="btn btn-primary btn-icon btn-round btn-lg" type="button" popoverTitle="Extrato">
                        <i class="now-ui-icons business_chart-bar-32"></i>
                    </button>
                    <p class="category">Extrato</p>
                </div>
                <div class="col-md-4 col-sm-6 text-center">
                    <button class="btn btn-primary btn-icon btn-round btn-lg" type="button" popoverTitle="Recarga">
                        <i class="now-ui-icons tech_mobile"></i>
                    </button>
                    <p class="category">Recarga</p>
                </div>
                <div class="col-md-4 col-sm-6 text-center">
                    <button class="btn btn-primary btn-icon btn-round btn-lg" type="button" popoverTitle="Transferência">
                        <i class="now-ui-icons business_money-coins"></i>
                    </button>
                    <p class="category">Transferência</p>
                </div>
                <div class="col-md-4 col-sm-6 text-center">
                    <button class="btn btn-primary btn-icon btn-round btn-lg" type="button" popoverTitle="Pix">
                        <i class="now-ui-icons shopping_credit-card"></i>
                    </button>
                    <p class="category">Pix</p>
                </div>
                <div class="col-md-4 col-sm-6 text-center">
                    <button class="btn btn-primary btn-icon btn-round btn-lg" type="button" popoverTitle="Pagamento de Boletos">
                        <i class="now-ui-icons files_paper"></i>
                    </button>
                    <p class="category">Pagamento de Boletos</p>
                </div>
            </div>
        </div>

        <div class="container">
            <br>
            <h4>Meus Desejos</h4>
            <br>
            <div class="card">
                <div class="nav-tabs-navigation">
                    <div class="nav-tabs-wrapper">
                        <ngb-tabset>
                            <ngb-tab>
                                <ng-template ngbTabTitle>
                                    <i class="now-ui-icons location_world"></i> Viagens
                                </ng-template>
                                <ng-template ngbTabContent>
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="card" [routerLink]="['/product']">
                                                    <img class="card-img-top" src="assets/img/BigBen.jpg" alt="Card" style="height: 250px;">
                                                    <div class="card-img-overlay">
                                                        <h5 class="card-title text-white">Londres</h5>
                                                    </div>
                                                    <div class="card-body">
                                                        <div class="progress-container progress-primary">
                                                            <span class="progress-badge">Meta de pontos</span>
                                                            <ngb-progressbar [value]="60"><span class="progress-value">60%</span></ngb-progressbar><br>
                                                        </div>
                                                        <button class="btn btn-primary btn-simple btn-round" type="button" style="width: 100%;">
                                                            <i class="now-ui-icons ui-1_calendar-60"></i> 23/07/2021
                                                        </button>
                                                        <button class="btn btn-primary btn-round" type="button" style="width: 100%;">
                                                            Adquirir agora
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="card">
                                                    <img class="card-img-top" src="assets/img/saoPaulo.jpg" alt="Card" style="height: 250px;">
                                                    <div class="card-img-overlay">
                                                        <h5 class="card-title text-white">São Paulo</h5>
                                                    </div>
                                                    <div class="card-body">
                                                        <div class="progress-container progress-primary">
                                                            <span class="progress-badge">Meta de pontos</span>
                                                            <ngb-progressbar [value]="22"><span class="progress-value">22%</span></ngb-progressbar><br>
                                                        </div>
                                                        <button class="btn btn-primary btn-simple btn-round" type="button" style="width: 100%;">
                                                            <i class="now-ui-icons ui-1_calendar-60"></i> 01/31/2025
                                                        </button>
                                                        <button class="btn btn-primary btn-round" type="button" style="width: 100%;">
                                                            Adquirir agora
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="card">
                                                    <img class="card-img-top" src="assets/img/toquio.jpg" alt="Card" style="height: 250px;">
                                                    <div class="card-img-overlay">
                                                        <h5 class="card-title text-white">Tóquio</h5>
                                                    </div>
                                                    <div class="card-body">
                                                        <div class="progress-container progress-primary">
                                                            <span class="progress-badge">Meta de pontos</span>
                                                            <ngb-progressbar [value]="63"><span class="progress-value">63%</span></ngb-progressbar><br>
                                                        </div>
                                                        <button class="btn btn-primary btn-simple btn-round" type="button" style="width: 100%;">
                                                            <i class="now-ui-icons ui-1_calendar-60"></i> 05/08/2025
                                                        </button>
                                                        <button class="btn btn-primary btn-round" type="button" style="width: 100%;">
                                                            Adquirir agora
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="card">
                                                    <img class="card-img-top" src="assets/img/roma.jpg" alt="Card" style="height: 250px;">
                                                    <div class="card-img-overlay">
                                                        <h5 class="card-title text-white">Roma</h5>
                                                    </div>
                                                    <div class="card-body">
                                                        <div class="progress-container progress-primary">
                                                            <span class="progress-badge">Meta de pontos</span>
                                                            <ngb-progressbar [value]="4"><span class="progress-value">4%</span></ngb-progressbar><br>
                                                        </div>
                                                        <button class="btn btn-primary btn-simple btn-round" type="button" style="width: 100%;">
                                                            <i class="now-ui-icons ui-1_calendar-60"></i> 23/01/2027
                                                        </button>
                                                        <button class="btn btn-primary btn-round" type="button" style="width: 100%;">
                                                            Adquirir agora
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="card">
                                                    <img class="card-img-top" src="assets/img/rj.jpg" alt="Card" style="height: 250px;">
                                                    <div class="card-img-overlay">
                                                        <h5 class="card-title text-white">Rio de janeiro</h5>
                                                    </div>
                                                    <div class="card-body">
                                                        <div class="progress-container progress-primary">
                                                            <span class="progress-badge">Meta de pontos</span>
                                                            <ngb-progressbar [value]="92"><span class="progress-value">92%</span></ngb-progressbar><br>
                                                        </div>
                                                        <button class="btn btn-primary btn-simple btn-round" type="button" style="width: 100%;">
                                                            <i class="now-ui-icons ui-1_calendar-60"></i> 05/12/2021
                                                        </button>
                                                        <button class="btn btn-primary btn-round" type="button" style="width: 100%;">
                                                            Adquirir agora
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="card">
                                                    <img class="card-img-top" src="assets/img/agra.jpg" alt="Card" style="height: 250px;">
                                                    <div class="card-img-overlay">
                                                        <h5 class="card-title text-white">Agra</h5>
                                                    </div>
                                                    <div class="card-body">
                                                        <div class="progress-container progress-primary">
                                                            <span class="progress-badge">Meta de pontos</span>
                                                            <ngb-progressbar [value]="78"><span class="progress-value">78%</span></ngb-progressbar><br>
                                                        </div>
                                                        <button class="btn btn-primary btn-simple btn-round" type="button" style="width: 100%;">
                                                            <i class="now-ui-icons ui-1_calendar-60"></i> 20/09/2030
                                                        </button>
                                                        <button class="btn btn-primary btn-round" type="button" style="width: 100%;">
                                                            Adquirir agora
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </ngb-tab>
                            <ngb-tab>
                                <ng-template ngbTabTitle>
                                    <i class="now-ui-icons tech_mobile"></i> Eletronicos
                                </ng-template>
                                <ng-template ngbTabContent>

                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="card">
                                                    <img class="card-img-top" src="assets/img/iphone.jpg" alt="Card" style="height: 250px;">
                                                    <div class="card-img-overlay">
                                                        <h5 class="card-title text-white">Iphone X</h5>
                                                    </div>
                                                    <div class="card-body">
                                                        <div class="progress-container progress-primary">
                                                            <span class="progress-badge">Meta de pontos</span>
                                                            <ngb-progressbar [value]="24"><span class="progress-value">24%</span></ngb-progressbar><br>
                                                        </div>
                                                        <button class="btn btn-primary btn-simple btn-round" type="button" style="width: 100%;">
                                                                <i class="now-ui-icons ui-1_calendar-60"></i> 01/12/2021
                                                        </button>
                                                        <button class="btn btn-primary btn-round" type="button" style="width: 100%;">
                                                            Adquirir agora
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="card">
                                                    <img class="card-img-top" src="assets/img/watch.png" alt="Card" style="height: 250px;">
                                                    <div class="card-img-overlay">
                                                        <h5 class="card-title text-white">Apple Watch</h5>
                                                    </div>
                                                    <div class="card-body">
                                                        <div class="progress-container progress-success">
                                                            <span class="progress-badge">Meta de pontos</span>
                                                            <ngb-progressbar [value]="100"><span class="progress-value">100%</span></ngb-progressbar><br>
                                                        </div>
                                                        <button class="btn btn-primary btn-simple btn-round" type="button" style="width: 100%;">
                                                            <i class="now-ui-icons ui-1_calendar-60"></i> 07/04/2021
                                                        </button>
                                                        <button class="btn btn-success btn-round" type="button" style="width: 100%;">
                                                            Adquirir agora
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">

                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </ngb-tab>
                            <ngb-tab>
                                <ng-template ngbTabTitle>
                                    <i class="now-ui-icons shopping_bag-16"></i> Produtos
                                </ng-template>
                                <ng-template ngbTabContent>
                                    <div class="container">
                                        <button class="btn btn-primary btn-simple btn-round" type="button" style="width: 100%;">
                                            Nenhum produto foi adicionado aos desejos ...
                                        </button>
                                    </div>
                                </ng-template>
                            </ngb-tab>
                            <ngb-tab>
                                <ng-template ngbTabTitle>
                                    <i class="now-ui-icons ui-1_simple-add"></i>
                                </ng-template>
                                <ng-template ngbTabContent>
                                    <div class="container">
                                    </div>
                                </ng-template>
                            </ngb-tab>
                        </ngb-tabset>
                    </div>
                </div>
            </div>