<div class="wrapper">
    <div class="page-header page-header-small" filter-color="orange">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/bg5.jpg') ;">
        </div>
        <div class="container">
            <div class="content-center">
                <br><br>
                <br><br>
                <br><br>
                <div class="photo-container">
                    <img src="assets/img/avatar.png" alt="">
                </div>
                <h3 class="title">Gabrielle Carvalho</h3>
                <p class="category">Economista</p>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="button-container">
                <a href="#button" class="btn btn-primary btn-round btn-lg">Editar perfil</a>
            </div>
            <h3 class="title">Minhas informações</h3>
            <div class="card">
                <div class="nav-tabs-navigation" data-tabs-color="orange">
                    <div class="nav-tabs-wrapper">
                        <ngb-tabset [justify]="'center'" class="text-center">
                            <ngb-tab title="Dados pessoais">
                                <ng-template ngbTabContent>

                                    <div class="container">

                                        <div class="row">
                                            <div class="col-md-3">
                                                <p class="category">Nome</p>
                                                <div class="typography-line" class="text-center">
                                                    <p>Gabrielle carvalho</p>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <p class="category">Idade</p>
                                                <div class="typography-line" class="text-center">
                                                    <p>22</p>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <p class="category">Sexo</p>
                                                <div class="typography-line" class="text-center">
                                                    <p>Feminino</p>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <p class="category">E-mail</p>
                                                <div class="typography-line" class="text-center">
                                                    <p>GCarvalho@gmail.com</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-4">
                                                <p class="category">CPF</p>
                                                <div class="typography-line" class="text-center">
                                                    <p>079.584.984-03</p>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <p class="category">Telefone</p>
                                                <div class="typography-line" class="text-center">
                                                    <p>(81) 99801-5784</p>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <p class="category">Endereço</p>
                                                <div class="typography-line" class="text-center">
                                                    <p>Rua João Antonio Lumake, 834</p>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </ng-template>
                            </ngb-tab>
                            <ngb-tab title="Interesse">
                                <ng-template ngbTabContent>

                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <span class="badge badge-primary" style="width: 100%;">Aventura</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <span class="badge badge-primary" style="width: 100%;">Animais</span>
                                            </div>
                                            <div class="col-md-6">
                                                <span class="badge badge-primary" style="width: 100%;">Praia</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <span class="badge badge-primary" style="width: 100%;">Acampar</span>
                                            </div>
                                            <div class="col-md-6">
                                                <span class="badge badge-primary" style="width: 100%;">MPB</span>
                                            </div>
                                        </div>
                                    </div>

                                </ng-template>
                            </ngb-tab>
                        </ngb-tabset>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>